ion-header ion-toolbar {
    --background: #d1ebff !important;
  }

  ion-footer ion-toolbar {
    text-align: end !important;
  }
  
  button {
    margin-right: 5px;
  }
  
  h3 {
    padding-left: 30px;
    color: #f44336;
  }
  