
ion-header ion-toolbar{
  --background: #28080d !important;
  color: white;
}

ion-card-header{
  height: 100px;
}

ion-card{
  border-radius: 0px;
  height: 280px;
}

ion-card-subtitle{
  color: white !important;
}

ion-card-content{
  padding: 0px;
}

ion-item{
  padding: 3px;
}

.color1{
  background-color: #D1EBFF !important;
}

.color2{
  background-color: #A4AEFD !important;
}

.color3{
  background-color: #D3F3DB !important;
}

.color4{
  background-color: #DCD3C3 !important;
}

ion-card:hover{ 
  box-shadow: 1px 5px 10px grey;
 transition:  box-shadow .3s ease-in;
}

ion-card{
  cursor: pointer;
}

.center{
  text-align: center;
  margin-top: 50px;
}